html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space  Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
    /* font-size: 1.6; */
}
body{
    background: #050816;
    color: #fff;
    overflow-x: hidden;
    cursor: none;
}
.primary{
    background: #00f7ff;
    color: #000;
}
.secondary{
    border: 1px solid rgba(225, 225, 225, 0.15);
    color: #fff;
}
/* Loading */
#loader{
    position: fixed;
    inset: 0;
    background: #050816;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    transition: opacity 0.8s ease,
    visibility 0.8 ease;
}
.loader-content{
    text-align: center;
}
.loader-logo{
    animation: bounce 1.5s infinite;
}
.loader-card{
    width: 450px;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}
.loader-logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.loader-content h1{
    margin-top: 15px;
    letter-spacing: 4px;
    font-size: 2rem;
    color: #00f5ff;
}
.loader-content p{
    color: #94a3b8;
    text-align: left;
}
.loading-bar{
    width: 200px;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    margin: 30px auto;
    overflow: hidden;
    border-radius: 999px;
}
.progress{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00f5ff, #7c3aed);
    animation: bar 5s linear forwards;
}
#percentage{
    margin-bottom: 10px;
    color: #fff;
}
.loader-hide{
    opacity: 0;
    visibility: hidden;
}
@keyframes bar{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}
/* Toggle */
#toggle{
    position: absolute;
    top: 1;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: rgba(225, 225, 225, 0.08);
    cursor: none;
    color: white;
    backdrop-filter: blur(15px);
    transition: 0.4s;
    z-index: 99999999999999;
}
#toggle:hover{
    transform: rotate(180deg);
}
/* Background */
.bg{
    position: fixed;
    inset: 0;
    background: #050816;
    z-index: -2;
}
.grid{
    position: fixed;
    inset: 0;
    /* z-index: -1; */
    background-image: linear-gradient(240deg, rgba(225, 225, 225, 0.04) 20px, transparent 1px),
    linear-gradient(90deg, rgba(225, 225, 225, 0.04) 1px, transparent 1px);
    background-size: 50px 50px; 
}
.grid1{
    /* position: fixed; */
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(240deg, rgba(225, 225, 225, 0.04) 20px, transparent 1px),
    linear-gradient(90deg, rgba(225, 225, 225, 0.04) 1px, transparent 1px);
    background-size: 50px 50px; 
}
.glow{
    position: fixed;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.258), transparent);
    filter: blur(80px);
    top: -200px;
    right: -150px;
    z-index: -1;
}
.cursor{
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50%{
        opacity: 0;
    }
}
.grad-txt1{
    background: linear-gradient(270deg, #00f5ff, #050816, #7c3aed, #fff);
    background-size: 400% 400%;
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    animation: gradMove 0.7s ease-in-out infinite;
}
.grad-txt2{
    background: linear-gradient(270deg, #00f5ff, #050816, #7c3aed, #fff);
    background-size: 400% 400%;
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    animation: gradMove2 7s ease-in-out infinite;
}
@keyframes gradMove2 {
    0%{
        background-position: 10% 70%;
    }50%{
        background-position: 100% 30%;
    }100%{
        background-position: 10% 70%;
    }
}
/* Header */
#header{
    position: fixed;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* right: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    z-index: 100000000;
}
.logo{
    color: #00f5ff;
    font-weight: 700;
    font-size: 1.5rem;
}
/* nav{
    z-index: 999999999;
} */
 .mobile-theme{
    display: none;
 }
nav ul{
    display: flex;
    gap: 5px;
}
nav ul li{
    display: grid;
}
nav ul span{
    position: absolute;
    top: 19px;
    left: -10px;
    opacity: 0;
    /* margin-top: 3%; */
    margin: 0;
    transition: 0.6s ease-in-out;
    /* background: rgba(255, 255, 255, 0.05); */
    /* backdrop-filter: blur(20px); */
    color: #00f5ff;
    text-align: center;
    /* padding: 5px 9px; */
    /* border-radius: 20px;
    font-size: 15px; */
}
nav a{
    position: relative;
    width: 60px;
    height: 20px;
    color: #fff;
    transition: 0.4s;
    cursor: none;
}
nav a:hover span{
    opacity: 1;
    color: #00f5ff;
    /* box-shadow: 0 0 20px #7c3aed; */
    /* padding: 5px 7px; */
    /* border-radius: 20px; */
}
/* Hamburger */
.menu-btn{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999999;
}
.menu-btn span{
    width: 40px;
    height: 5px;
    background: linear-gradient(90deg, #00f5ff, #a855f7);
    border-radius: 50px;
    transition: 0.5s ease;
    box-shadow: 0 0 8px #00f5ff
                0 0 15px #7c3aed;
}
/* Particles  Not Used*/
#particles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    pointer-events: none;
}
/* Hero */
#hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}
#hero .hero-content{
    max-width: 950px;
}
.grad-txt{
    background: linear-gradient(270deg, #00f5ff, #050816, #7c3aed, #fff);
    background-size: 400% 400%;
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    animation: gradMove 8s ease-in-out infinite;
}
@keyframes gradMove {
    0%{
        background-position: 0% 50%;
    }50%{
        background-position: 100% 50%;
    }100%{
        background-position: 0% 50%;
    }
}
#hero .hero-content h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}
#hero .hero-content h2{
    font-size: 2.2rem;
    color: #00f5ff;
    margin-top: 15px;
}
#hero .hero-content p{
    margin-top: 25px;
    color: #94a3b8;
    font-size: 1.2rem;
    line-height: 1.8;
}
#hero .hero-content .btns{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.btn1{
    border: 1px solid rgba(225, 225, 225, 0.09);
    padding: 14px 45px;
    border-radius: 45px;
    display: inline-block;
    margin: 10px;
    transition: 0.4s;
    cursor: none;
}
.btn{
    border: none;
    padding: 14px 30px;
    border-radius: 45px;
    display: inline-block;
    margin: 10px;
    transition: 0.4s;
    cursor: none;
}
 .btn1:hover, .btn:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 20px #00f5ff;
}
/* Section */
.section{
    padding: 120px 8%;
}
.section h2{
    font-size: 4rem;
    margin-bottom: 50px;
}
/* Skills */
.skills{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    margin-top: 6%;
    margin-bottom: -10%;
}
.top{
    display: flex;
    justify-content: space-between;
    /* gap: 80%; */
}
.bar-bg{
    margin-top: 10px;
    height: 5px;
    background: #273142;
    border-radius: 30px;
    overflow: hidden;
}
.bar{
    /* margin-top: 10px; */
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(90deg, #a855f7,#7b2cff);
    animation: grow 8s ease forwards;
    width: 0;
}
.html{width: 95%;}
.css{width: 95%;}
.js{width: 47%;}
.react{width: 25%;}
.boot{width: 35%;}
.node{width: 45%;}
.py{width: 15%;}
.git{width: 85%;}
.fig{width: 15%;}
.skill{
    background: rgba(255, 255, 255, 0.05);
    padding: 30px 30px 19px 30px;
    text-align: center;
    border-radius: 20px;
    transition: 0.4s;
    animation: waveGlow 2.5s ease-in-out infinite;
    backdrop-filter: blur(10px);
    /* width: 100%; */
}
@keyframes grow {
    from{
        width: 0;
    }
}
.skill:nth-child(1){animation-delay: 1.2s;}
/* .skill:nth-child(2){animation-delay: 0.6s;} */
.skill:nth-child(3){animation-delay: 1.2s;}
.skill:nth-child(4){animation-delay: 1.2s;}
/* .skill:nth-child(5){animation-delay: 0.6s;} */
.skill:nth-child(6){animation-delay: 1.2s;}
.skill:nth-child(7){animation-delay: 1.2s;}
/* .skill:nth-child(8){animation-delay: 0.6s;} */
.skill:nth-child(9){animation-delay: 1.2s;}

@keyframes waveGlow{
    0%, 100%{
        transform: translateY(0) rotate(-4deg);
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    }
    50%{
        transform: translateY(-35px) rotate(4deg);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    }
}
/* Projects */
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
}
.card{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    transform-style: preserve-3d;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s ease;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.card:hover{
    transform: translateY(-10px)
    scale(1.03);
    /* box-shadow: 0 0 25px rgba(0, 245, 255, 0.25); */
}
.card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(0, 245, 255, 0.15),
    rgba(124, 58, 237, 0.15));
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.card:hover::before{
    opacity: 1;
}
.card-img{
    width: 100%;
    height: 220px;
    background: linear-gradient(135deg, #00f5ff, #7c3aed);
}
.card-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 55%;
    height: 51%;
    background: rgba(0, 255, 255, 0.25);
    transform: skewX(-25deg);
    transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover .card-img::before{
    left: 180%;
    animation: shine 1s ease;
}
@keyframes shine{
    from{
        left: -100%;
    }to{
        left: 180%;
    }
}
.card-txt{
    position: relative;
    z-index: -2;
    transform: translateZ(40px);
    padding: 30px;
}
.card-txt h3{
    color: #fff;
    transform: translateZ(60px);
    margin-bottom: 15px;
}
.card-txt p{
    transform: translateZ(50px);
    color: #94a3b8;
}
.tech-stack{
    margin-left: 29px;
}
.tech-stack span{
    margin-left: 1px;
    background: rgba(255, 255,255,.08);
    border: 1px solid rgba(255,255,255,.12);
    color: #e2e8f0;
    backdrop-filter: blur(12px);
    padding: 13px 19px;
    border-radius: 15px;
}
.project-link{
    margin: 30px 0 25px 8%;
}
.project-link a{
    cursor: none;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 20px;
    font-size: 1.3rem;
    background: linear-gradient(135deg, #06b6d4, #7c3aed);
    color: white;
    transition: .3s;
    padding: 10px 150px;
}
.project-link a:hover{
    box-shadow: 0 0 15px rgba(6,182,212,.5),
                0 0 30px rgba(124,58,237,.35);
}
/* About */
#about{
    margin-top: 5%;
}
#about h2{
    margin-bottom: 3px;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    gap: 4rem;
}
#about .about-left{
    /* margin-right: 10%; */
    /* margin-left: -10%; */
    /* padding-right: 10%; */
    max-width: 650px;
    flex: 1;
}
#about .about-right{
    flex: 0 0 380px;
}
#about .about-right img{
    width: 100%;
    border-radius: 20%;
    padding: 5px;
    background: linear-gradient(180deg, #00f5ff, #fff, #7c3aed);
    /* margin-left: 10%; */
    object-fit: cover;
    aspect-ratio: 4/5;
    height: auto;
}
#about p{
    color: #94a3b8;
    /* max-width: 800px; */
    padding-top: 20px;
    line-height: 1.8;
    font-size: 1.2rem;
}
/* Contact */
#Contact{
    width: 100%;
    margin-top: 3%;
    text-align: center;
}
#Contact h2{
    margin-bottom: 30px;
}
#Contact p{
    text-align: center;
    margin-left: 29%;
    max-width: 700px;
    font-size: 1.5rem;
    line-height: 1.7;
    background: linear-gradient(100deg, #00f5ff, #7c3aed);
    background-size: 90% 70%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Contact .contact-features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px 0;
}
#Contact .contact-features i{
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
    background: linear-gradient(130deg, #00f5ff, #7b2cff);
    background-size: 80% 70%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Contact .contact-features span{
    font-size: 1.1rem;
    font-weight: 600;
}
#Contact .contact-features div{
    width: 40%;
    padding: 10px 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    transition: 0.4s ease;
    cursor: none;
    overflow: hidden;
    position: relative;
}
.contact-features div::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(135deg, #00f7ff, #7b2cff, #00f7ff);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}
.contact-features div:hover::before{
    opacity: 1;
}
.contact-features div:hover{
    transform: translateY(-10px) scale(1.05);
    
}
#show_me{
    font-size: 1.5rem;
}
/* Footer */
footer{
    text-align: center;
    padding: 40px;
    color: #94a3b8;
    font-size: 15px;
    border-top: 1px solid rgba(225, 225, 225, 0.1);
}
/* Reveal */
.reveal{
    opacity: 0;
    transform: translateY(90px);
    transition: 2s;
}
.reveal.active{
    opacity: 1;
    transform: translateY(0);
}
/* #Myform{
    width: 500px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid rgba(225, 225, 225, 0.15);
    background: rgba(225, 225, 225, 0.08);
    box-shadow: 0 45px 80px rgba(0,0,0,0.3);
    margin-top: 10%;
}
#Myform h2{
    font-size: 40px;
    color: #00f5ff;
} */


/* Socials */

.social-icons{
    margin-top: 5%;
    text-align: center;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}
.social-icons a{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    color: white;
    font-size: 1.3rem;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.social-icons a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #00f5ff, #7c3aed, #ffffff);
    opacity: 0;
    transition: .4s;
}
.social-icons a i{
    position: relative;
    z-index: 2;
}
.social-icons a:hover{
    transform: translateY(-8px) scale(1.08);
    box-shadow: 0 0 25px rgba(0, 245, 255, 0.4),
    0 0 45px rgba(124, 58, 237, 0.3);
}
.social-icons a:hover::before{
    opacity: 1;
}