/* Mobile */
@media(max-width: 768px){
    .custom-cursor{
        width: 30px;
        height: 30px;
    }
    .scroll-top{
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
    }
    #header{
        /* margin-top: 10px; */
        width: 99%;
        padding: 18px 20px;
        height: 9vh;
    }
    #hero,
    #skills,
    #projects,
    #about,
    #Contact{
        scroll-margin-top: 90px;
    }
    .logo{
        font-size: 1.3rem;
    }
    #toggle{
        /* display: none; */
        margin-right: 20px;
    }
    /* #toggle.active{
        right: 0;
    } */
    .menu-btn{
        /* width: 60%; */
        /* margin-top: 10px; */
        display: flex;
        z-index: 1000000000000;
    }
    body.light-mode .grid1{
        background-image: linear-gradient(240deg, rgba(35, 34, 34, 0.04) 20px, transparent 1px),
                        linear-gradient(90deg, rgba(225, 225, 225, 0.04) 1px, transparent 1px);
    }
    body.light-mode nav{
        background-image: linear-gradient(240deg, rgba(35, 34, 34, 0.04) 20px, transparent 1px),
                        linear-gradient(90deg, rgba(225, 225, 225, 0.04) 1px, transparent 1px);
        background-color: #f4f7fb95;
        backdrop-filter: blur(20px);
        border-right: 1px solid rgba(15, 23, 42, 0.08);
        box-shadow: 15px 0 35px rgba(15, 23, 42, 0.15);
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        /* right: -100%; */
        width: 100%;
        height: 100vh;
        background: rgba(5, 8, 22, 0.98);
        border-radius: 0 25px 25px 0;
        box-shadow: 15px 0 40px rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(20px);
        transform: translateX(-100%);
        transition: 0.95s ease;
        display: flex;
        align-items: center;
        z-index: 10000000000000;
    }
    nav.active{
        /* right: 0; */
        transform: translateX(0);
    }
    nav ul span{
        margin-top: 20px;
        font-size: 1.5rem;
        /* padding-bottom: 20px; */
        /* margin-bottom: 30%; */
        opacity: 1;
        position: absolute;
        left: 125px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        padding: 90px 25px;
        /* position: absolute; */
        /* left: 200px; */
    }
    nav ul li a:hover span{
        transform: translate(10px);
    }
    nav ul li{
        margin-top: 1px;
        width: 100%;
        /* text-align: center; */
    }
    nav ul li a{
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        color: #00f5ff;
        transition: 0.3s;
        border-radius: 12px;
        padding: 20px;
        font-size: 2.5rem;
    }
    /* nav ul li a:hover{
        color: #7c3aed;
        background: rgba(124, 58, 237, 0.15);
    } */
    nav ul li a i{
        position: absolute;
        left: 125px;
        width: 12px;
        font-size: 1.5rem;
    }
    .section h2{
        font-size: 4rem;
        margin-bottom: 70px;
    }
    #hero{
        margin-top: 20%;
        padding: 0;
    }
    #hero .hero-content h1{
        font-size: 2rem;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }
    #hero .hero-content h2{
        font-size: 1.5rem;
        font-weight: 500;
    }
    #hero .hero-content p{
        font-size: 1.2rem;
        padding: 0 13px;
    }
    #hero .hero-content .btns{
        display: grid;
    }
    .btn,
    .btn1{
        font-size: 1.5rem;
        padding: 10px 60px;
    }
    .skills{
        padding: 0;
        gap: 60px;
        grid-template-columns: none;
    }
    .skill:nth-child(1){animation-delay: 1.2s;}
    .skill:nth-child(2){animation-delay: 1.2s;}
    .skill:nth-child(3){animation-delay: 1.2s;}
    .skill:nth-child(4){animation-delay: 1.2s;}
    .skill:nth-child(5){animation-delay: 1.2s;}
    .skill:nth-child(6){animation-delay: 1.2s;}
    .skill:nth-child(7){animation-delay: 1.2s;}
    .skill:nth-child(8){animation-delay: 1.2s;}
    .skill:nth-child(9){animation-delay: 1.2s;}
    .projects{
        grid-template-columns: none;
    }
    .card-img{
        height: 220px;
    }
    .card-img::before{
        height: 48.5%;
    }
    .card-img1::before{
        height: 47%;
    }
    .card-img2::before{
        height: 45%;
    }
    .card-txt h3{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .card-txt p{
        font-size: 1rem;
    }
    .tech-stack{
        /* margin: 0 10px 0 10px; */
        margin-right: 16px;
        display: flex;
        justify-content: space-between;
    }
    .tech-stack span{
        font-size: 0.9rem;
        margin: 2px;
        padding: 10px 15px;
    }
    .project-link{
        margin: 20px 0 19px 8%;
    }
    .project-link a{
        padding: 5px 79px;
    }
    #about{
        margin-top: 5%;
    }
    #about .about-content{
        /* display: grid; */
        /* margin-top: 25%; */
        display: flex;
        flex-direction: column;
    }
    #about .about-left{
        padding: 0;
    }
    #about p{
        font-size: 1.3rem;
        /* padding-bottom: ; */
    }
    #about .about-right{
        margin-top: 35%;
        order: -1;
    }
    #about .about-right img{
        width: 100%;
        border-radius: 10%;
        height: 55vh;
    }
    #Contact{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #Contact h2{
        margin-top: 10%;
        font-size: 2rem;
    }
    #Contact p{
        margin-left: 0;
        padding: 0;
        font-size: 1rem;
        background-size: 100% 80%;
    }
    #Contact .contact-features{
        display: grid;
    }
    #Contact .contact-features i{
        font-size: 2rem;
    }
    #Contact .contact-features span{
        font-size: 1rem;
    }
    #Contact .contact-features div{
        width: 100%;
        padding: 10px 60px;
    }
    .contact-card{
        width: 100%;
        max-width: 750px;
    }
    .contact-card h2{
        font-size: 1.5rem;
    }
    .contact-card p{
        font-size: 1rem;
    }
    .input-box input,
    .input-box1 textarea{
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        margin-bottom: 2%;
    }
    .input-box1 label{
        top: 53%;
        left: 15%;
        font-size: 1.3rem;
    }
    .input-box label{
        top: 15px;
        font-size: 1rem;
    }
    .input-box input:focus + label,
    .input-box input:valid + label,
    .input-box textarea:focus + label,
    .input-box textarea:valid + label{
        font-size: 1.3rem;
        top: -28px;
    }
    .send-btn{
        padding: 10px;
        font-size: 1rem;
    }
    .close-btn{
        font-size: 1rem;
    }
    .social-icons a i{
        font-size: 1.5rem;
    }
    .social-icons a{
        width: 50px;
        height: 50px;
    }
    .success-card p{
        font-size: 1rem;
    }
    .checkmark{
        width: 80px;
        height: 80px;
    }
    /* .ripple{
        top: 30%;
    } */
    footer{
        font-size: 10px;
    }
}

/* @media(max-width: ) {
    
} */